/* Copyright: Andoni M. Garcia. Food Blog. 2014 */

body, html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* Nav Bar */

.myNav{
    background: #89f6e1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: black;
    height: 10%;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}
.tabList{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.tabs{
    border: 1px black solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    height: 100%;
    float: left;
    font-family: "Oswald", times;
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 8px 5%;
    text-align: center;
    width: 50%;
}
.tabs:hover{
    background: #8997f6;
    cursor: pointer;
}
.activeTab{
    background: #8997f6;
    cursor: auto;
}
.content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans Condensed', Times;
    font-size: 17px;
    overflow-y: scroll;
    margin-top: 10px;
    padding: 0 8% 0 8%;
    text-align: center;
    width: 100%;
}
.content::-webkit-scrollbar{
    display: none;
}
.content a, .content a:visited{
    color: black;
    text-decoration: none;
}
.content a:hover, .content a:active{
    color: black;
    text-decoration: underline;
}
.contentShown{
    display: inline-block;
    height: 90%;
}
.contentHidden{
    display: none;
    height: 0%;
}

/* Google Maps API */

.googleMap{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 90%;
    width: 100%;
}
.infoWindow{
    height: 100px;
    width: 200px;
}
.restaurantName{
    font-size: 18px;
    font-family: 'Lobster', Fantasy, serif;
    text-decoration: underline;
    text-align: center;
}
.restaurantDate{
    font-size: 16px;
    font-family: 'Open Sans Condensed', Times;
    text-align: center;
}

/* Media Queries */
@media(max-width: 819px){
    .myNav{
        border: 0;
        float: none;
        height: 10%;
        width: 100%;
    }
    .tabList{
        height: 100%;
    }
    .tabs{
        height: 100%;
    }
    .tabs:first-child{
        border-left: 1px black solid;
    }
    .tabs:last-child{
        border-right: 1px black solid;
    }
    .googleMap{
        height: 90%;
        width: 100%;
    }
}

@media(min-width: 820px){
    .myNav{
        border-right: 1px black solid;
        border-left: 1px black solid;
        border-bottom: 1px black solid;
        float: left;
        height: 100%;
        width: 25%;
    }
    .tabList{
        height: auto;
    }
    .tabs{
        height: auto;
    }
    .tabs:first-child{
        border-left: 0px;
    }
    .tabs:last-child{
        border-right: 0px;
    }
    .googleMap{
        height: 100%;
        width: 75%;
    }
}